
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #FFD700;
}
h1 a{
    color: #f4f4f4;
    text-decoration: none;
}
h1 a:hover{
    color: #FFD700;
}

main {
    padding: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.form-container input[type="text"],
.form-container input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-container input[type="submit"] {
    background-color: #ffd700;
    color: rgb(8, 8, 8);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-container input[type="submit"]:hover {
    background-color: #d79b00;
}
.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
}

.login-container form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffd700;
    color: #0a0a0a;
    font-size: 16px;
    cursor: pointer;
}

.login-container form button:hover {
    background-color: #d79b00;
}